.aboutUS-canvas {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 90vh;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about_main {
  text-align: center;
  font-size: 2rem;
  text-decoration-style: solid;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 1rem;
  font-weight: bolder;
}
.about .about-img {
  justify-content: space-evenly;
}

.about-img img {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}

.about .about-content {
  width: 35vw;
  margin-left: 10rem;
  text-align: justify;
  font-size: 1.2rem;
  color: black;
  font-family: fantasy;
}

.team_main {
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.team_inner {
  display: flex;
  /* justify-items: space-between; */
  justify-content: space-evenly;
}
.team_member {
  width: 25vw;

  height: 54vh;
  background-color: rgb(204, 198, 205);
  color: white;
  box-shadow: 20px 20px 50px grey;

  font-weight: bold;
  border-radius: 1rem;
}
#member_details {
  cursor: pointer;
}
#team_img {
  border-radius: 1rem;
  width: 22vw;
  height: 36vh;
}

#about_icon {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

#about_icon:after {
  display: none;
}

#about_icon:hover {
  color: #25d033;
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-img img {
    width: 70vw;
  }

  .about .about-content {
    width: 90%;
    margin-top: 20px;
    padding: 1rem 0.2rem;
  }
  .about-content p {
    font-size: 1rem;
    font-size: 1rem;
    margin: -6px -4.5rem;
    width: 100%;
  }
  .about_main {
    font-size: 1.5rem;
  }

  .team_main {
    margin-top: 1rem;
  }
  #team_heading {
    font-size: 1.5rem;
  }
  .team_inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 3rem;
    width: 80%; */
  }
  .team_member {
    width: 90%;
    height: auto;
    font-size: 1.5rem;
    box-shadow: 5px 5px 2.5px lightblue inset;
    margin-bottom: 1rem;
  }

  #team_img {
    border-radius: 0.5rem;
    width: 80vw;
    height: 40vh;
  }

  #about_icon {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    padding: 1px;
  }
  #about_icon:hover {
    color: blue;
  }
}
@media only screen and (max-height: 600px) {
  .about {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-img img {
    width: 70vw;
  }

  .about .about-content {
    width: 90%;
    margin-top: 20px;
    padding: 1rem 0.2rem;
  }
  .about-content p {
    font-size: 1rem;
    font-size: 1rem;
    margin: -6px -4.5rem;
    width: 100%;
  }
  .about_main {
    font-size: 1.5rem;
  }
  .team_main {
    margin-top: 1rem;
  }
  #team_heading {
    font-size: 1.3rem;
  }
  .team_inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    width: 80%;
  }
  .team_member {
    width: 90%;
    height: auto;
    font-size: 1.5rem;
    box-shadow: 5px 5px 2.5px lightblue inset;
  }

  #team_img {
    border-radius: 0.5rem;
    width: 50vw;
    height: 50vh;
  }

  #about_icon {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    padding: 1px;
  }
  #about_icon:hover {
    color: blue;
  }
}
