.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin: 2rem 3rem; */
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.about_main {
  text-align: center;
  font-size: 2rem;
  text-decoration-style: solid;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 1rem;
  font-weight: bolder;
}
.about .about-img {
  justify-content: space-evenly;
}

.about-img img {
  width: 100%;
  border-radius: 1rem;
}

.about .about-content {
  width: 35vw;
  margin-left: 10rem;
  text-align: justify;
  font-size: 1.2rem;
  color: black;
  font-family: fantasy;
}


.team_main {
  text-align: center;
  color: black;
  font-size: 2rem;
 font-weight: bolder;
 margin-bottom: 1rem;
}

.team_inner {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.team_member {
  width: 25vw;
  height: 40vh;
  background-color: rgb(25, 103, 152);
  color: white;
  margin-top: 2rem;
  margin-left: 6rem;
  font-weight: bold;
  border-radius: 3rem;
  box-shadow: 0 0 10px white;
}
#team_img {
  border-radius: .5rem;
  width: 20vw;
  height: 25vh;
}
/* .about_social_links{
  margin-left: 2rem;
} */
#about_icon{
  margin-left: 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}
#about_icon:hover{
  color: blue;
 
}


@media only screen and (max-width: 429px) {
  .about {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-img img {
    border-radius: 1rem;
    width: 60vw;
  }

  .about .about-content {
    width: 100%;
    margin-top: 30px;
    padding: 0 1rem;
  }
  .about-content p{
    font-size: 1rem;
    margin: 0 .5rem;
  }
  .about_main{
    font-size: 1.5rem;
  }
  .team_main{
    margin-top: 2rem;
  }
  .team_inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team_member{
    width: 82vw;
  }
}

