 .choose_accunt{
  margin: 5rem;
  
  }
  .create{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .choose{
    margin-top: 3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  }
  
   .usersignup ,.shopsignup{
    position: relative;
    width: 20vw;
    height: 20vh;
    padding: 5px;
    background-color: rgb(245, 244, 248);
    border-radius: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px 12px lightblue;
  } 
  
 #signupimg{
    width:15vw;
    height: 10vh;
    border-radius: 10%;
    margin-left: 2rem;

  }   
#do_regis{
  margin-top: 1.2rem;
  font-size: 1.5rem;
  text-decoration: none;
}
  @media only screen and (max-width:1100px){
   
       .usersignup ,.shopsignup{
       
        width: 25vw;
        height: 20vh;
      
      } 
      
     #signupimg{
        width:20vw;
     margin-left: 1rem;
    
      }   
    #do_regis{
  
      font-size: 1.2rem;
    
    }
  }
  @media only screen and (max-width:700px){
   
    .usersignup ,.shopsignup{
    
     width: 28vw;
   
   } 
}
@media only screen and (max-width:500px){
  
    .create{
     font-size: 1.1rem;
    }
  
    .choose{
      margin-top: 1rem;
      flex-direction:column;
      margin-left: 1.4rem;
      }
    
     .usersignup ,.shopsignup{
    
      width: 50vw;
      height: 25vh;
      margin-top: 2rem;
    } 
    
   #signupimg{
      width:38vw;
      height: 25vh;
       margin-left: 1.2rem;
  
    }   
  #do_regis{
    margin-top: 1.3rem;
    font-size: 1.2rem;
   
  }
} 
 
  
 