 .choose_accunt{
  margin: 5rem;
  
  }
  .create{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .choose{
    margin-top: 3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  }
  
   .usersignup {
    position: relative;
    width: 15vw;
    height: 20vh;
    padding: 5px;
    background-color: rgb(245, 244, 248);
    border-radius: 20%;
    border: 1px solid black;
  } 
  
 #signupimg{
    width:10vw;
    height: 10vh;
    border-radius: 50%;

  }  

  .shopsignup{
    position: relative;
    width: 15vw;
    height: 20vh;
    padding: 5px;
    background-color: rgb(245, 244, 248);
    border-radius: 20%;
    border: 1px solid black;
  } 
.choose_btn{
  display: flex;
justify-content: center;
margin-top: 2rem;

}
.item_choose{
  border-radius: 20px;
  width: 10vw;
  height: 10vh;
}

  
 
  
 