.footer {
    width: 100%;
    background-color: #000505;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#connect, #footer_bootom {
    text-align: center;
    color: bisque;

}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(38, 24, 194);
}


.icon {
    display: inline;
    margin: 5vh;
    justify-content: space-between;
    size: 200px;
    
}

.facebook {
    border-radius: 1rem;
}

#social {
    font-size: 2rem;
    margin-left: 15vh;
}