.footer-canvas{
    width: 100vw;
    height: auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(345deg, #16101a , #614f6a,#16101a);
    /* background-image:linear-gradient(345deg, #67a3e3 , #c495dc,#940eee); */
    /* background-image:linear-gradient(-100deg, #ac8427,  #8c3fb3,#0a0f14); */


}


  
.footer-top-icon-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: white;
  
}
.footer_social a{
    display: felx;
    flex-direction: column;
    font-size: 3rem;
    text-decoration: none;

    }

#footer_icon:hover{
    color: hsl(147, 88%, 36%);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#footer_icon {
    color: aquamarine;
   margin-left: 15px;

}
.footer-canvas-middle{
    padding: 50px 20px;
    width: 100%;
    display: flex;
    color: #ffffff9c;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: -3rem;
}

.footer-middle-ngo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color: #ffffff9c;
   font-size: 1.1rem;
   width: 300px;
}
.footer-middle-ngo p{
    color: #fff;
}
.footer-middle-ngo-name{
    font-size: 1.4rem;
   font-weight: bold;
   color: white;
}
.footer-middle-info-sec{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 2rem;

}
.footer-middle-info-name {
    font-weight: bold;
    color: white;
    font-size: 1.4rem;
    margin-top: -1rem;

}
#location_items{
    text-decoration: none;
}
.footer-middle-info-details{
    display: flex;
    flex-direction: column;

}
.info_items {
    color: aliceblue;
    text-decoration: none;
}


.footer-middle-info-sec a:hover{
    color: hsl(147, 88%, 36%);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.footer-middle-basic-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: baseline;
    align-items: center;
    width: 300px;
    margin-top: 2rem;

}
.footer-middle-basic-text {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    word-wrap: break-word;
    justify-content: center;
    align-items: baseline;
    color: aliceblue;
}
#location_items :hover{
    color: hsl(147, 88%, 36%);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10%; 
     
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.footer-basic-detail-text{
  width: 280px;


}
.footer-canvas-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -2rem;
    padding:0px 10%;
    justify-content: space-between;
    align-items: center;
    color: #ffffffc7;
}

.footer-bottom-org{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.footer-life-img{
    width: 50px;
}




@media screen and (max-width:770px) {
   .footer-canvas-bottom{
    flex-direction: column;
    align-items: flex-start;
   }
   .footer-canvas-top{
    background-image: none;
   }
   
}



@media screen and (max-width:500px) {
    .footer-top-icon-sec{
        font-size: 1.3rem;
    }
    .footer-canvas-top{
        padding:30px 10px ;
    }
    .footer-canvas-bottom{
        padding:20px 15px ;
        justify-content: center;
        align-items: center;
    }
    .footer-life-img{
        width: 44px;
    }
    .footer-canvas-middle{
        justify-content: center;
        padding-left: 10%;
        padding-top: 30px;
    }
}

@media only screen and (max-width:358px) {
    .footer-canvas-top {
        gap:0px;
    }
    .footer-basic-detail-text {
        width: 230px;
    }
    
}