video{
    width:70vw;
    height: 80vh;
}
.Work-flow{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Work-flow h2{
    color: rgb(2, 6, 9);
}
.shops{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#labela-about{
    color: rgb(1, 3, 5);
    background-color: rgb(180, 138, 220);
    width: 100%;
    text-align: center;
}
.individual{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
   }
   @keyframes mymove {
    from{left: -20rem;}
    to{left: 20rem;}
  }
  .individual:hover{
    animation-play-state: paused;
  }
.individual-shop{
    width: 300px;
    height: 300px;
    display: flex;
    background-image: linear-gradient(#ea66d6, rgb(244, 244, 231), green);
   
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    margin-left: 5rem;
   
}


.individual-shop img{
    width: 100%;
    height: 60%;
}

.individual-shop h3{
    text-align: center;
}
.individual-shop .btn{
    margin-top: .5rem;
    padding: .5rem;
    /* border-radius: 2rem; */
    border: none;
    transition: all 1s;
    font-weight: bold;
}
.individual-shop .btn:hover{
    background-color: #f7d65f;
}

.services_home{
  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.4rem 2rem;
    }
    .services_home a{
        text-decoration: none;
    }
    
    @media only screen and (max-width:599px) and (min-width:360px){
        .Work-flow h2{
            text-align: center;
        }
  
        video{
            width:94vw;
            height: 57vh;
            margin-top: -3.8rem;
        }
        .Work-flow{
            margin-top: 1rem;
           
        }
        .shops h2{
            font-size: 2rem;
            background-color: rgb(180, 138, 220);
            width: 100%;
            text-align: center;
        }
        .individual{
            width: 100%;
            flex-direction: column;
            align-items: center;
            animation: none;
         }
        .individual-shop{
            width: 80%;
            height: 50vh;
            margin: 1rem 0;
            
        }
        
        
        .individual-shop h3{
            font-size: 1.5rem;
        }
        .individual-shop .btn{
            margin-top: 1.5rem;
            font-size:  1.2rem;
            border-radius: 2rem;
        }
        .services_home{
            flex-direction: column;
            align-items: center;
        }
    }
    
    
   

@media only screen and (max-width:1240px) and (min-width:900px){

    video{
        width:75vw;
        height: 80vh;
        margin-top: -0.5vw;
    }
    .Work-flow{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Work-flow h2{
        color: rgb(2, 6, 9);
    }
   
    .shops h2{
        font-size: 3rem;
        background-color: rgb(180, 138, 220);
        width: 100%;
        text-align: center;
    }
    .individual{
        flex-direction: column;
     }
    .individual-shop{
        width: 50vw;
        height: 50vh;
        margin-top: 10vw;
        }
   
    
    .individual-shop h3{
        font-size: 3rem;
        font-weight: bold;
    }
    .individual-shop .btn{
        margin-top: 0.5rem;
        padding: .3rem;
        font-weight: bold;
        font-size:  1.5rem;
    }

   
}
@media only screen and (max-width:899px) and (min-width:600px){

    video{
        width:65vw;
        height: 55vh;
        margin-top: -1.8vw;
    }
    .Work-flow{
        margin-top: 1rem;
       
    }
   
   
    .shops h2{
        font-size: 2rem;
        background-color: rgb(180, 138, 220);
        width: 100%;
        text-align: center;
    }
    .individual{
        flex-direction: column;
     }
    .individual-shop{
        width: 60vw;
        height: 60vh;
        margin-top: 7vw;
        }
    
    
    .individual-shop h3{
        font-size: 1.5rem;
    }
    .individual-shop .btn{
        margin-top: 1.5rem;
        font-size:  1.5rem;
    }
   
}

