*:focus{
    outline: none;
    border: none;
    outline-style: none;
}
.home_page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.home2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    font-size: 1.5rem;
    text-decoration-style: solid;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
.home_logo img{
    margin-top: 3rem; 
    width: 17vw;
    height: 25vh;
    animation-name: rotate1;
    border-radius: 2rem;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear;

}

@keyframes rotate1{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

  .home1 img{

    border-radius: 2rem;
  }


#labela-about {
    color: rgb(1, 3, 5);
    background-color: rgb(187, 183, 192);
    width: 100%;
    text-align: center;
}

.individual {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 10px; */
} 





.individual-shop  a{
text-decoration: none;
} 




.services_home {

    display: flex;
    flex-direction: row;
     justify-content: space-between;
    align-items: center;
}

.servicesabc:hover {
    transform: rotateY(360deg) scale(1.1);
    border-radius: 2px black;
}

.services_home a {
    text-decoration: none;
}
.home_avaliable_shop{
    margin: 2rem 0;
}

@media only screen and (max-width:599px) {
    .Work-flow h2 {
        text-align: center;
    }

   
    .Work-flow {
        margin-top: 1rem;

    }

    .shops h2 {
        font-size: 2rem;
        background-color: rgb(180, 138, 220);
        width: 100%;
        text-align: center;
    }

    .individual {
        flex-direction: column;
        align-items: center;
    
    }

    .individual-shop {
        width: 90%;
        height: 50vh;
        /* margin: 1rem 0; */

    }


    .individual-shop h3 {
        font-size: 1.5rem;
    }

    .individual-shop .btn {
        margin-top: 1.5rem;
        font-size: 1.2rem;
        border-radius: 2rem;
    }

    .services_home {
        flex-direction: column;
        align-items: center;
    }
    .home_page{
        flex-direction: column;
    }
    .home1{
        margin-top: 2rem;
    }
    .home1 img{
        width: 90%;
    }
    .home2{
        align-items: center;
    }
    .home2 .home_contain{
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .home2 .home_logo img{
        /* width: 100%; */
        display: none;
    }
    .individual-shop img{
        width: 40vw;
    }
}

@media only screen and (max-height:599px) and (min-height:360px) {
    .Work-flow h2 {
        text-align: center;
        font-size: 1rem;
    }

    video {
        width: 94vw;
        height: 57vh;
        /* margin-top: -1.8rem; */
    }

    .Work-flow {
        margin-top: 1rem;

    }

    .shops h2 {
        font-size: 2rem;
        background-color: rgb(180, 138, 220);
        width: 100%;
        text-align: center;
    }

    .individual {
        width: 100%;
        flex-direction: column;
        align-items: center;
        animation: none;
    }

    .individual-shop {
        width: 80%;
        height: 50vh;
        margin: 1rem 0;

    }


    .individual-shop h3 {
        font-size: 1.5rem;
    }

    .individual-shop .btn {
        margin-top: 1.5rem;
        font-size: 1.2rem;
        border-radius: 2rem;
    }

    .services_home {
        flex-direction: column;
        align-items: center;
    }
}





@media only screen and (max-width:1240px) and (min-width:900px) {

    video {
        width: 75vw;
        height: 80vh;
        margin-top: -0.5vw;
    }

    .Work-flow {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Work-flow h2 {
        color: rgb(2, 6, 9);
    }

    .shops h2 {
        font-size: 3rem;
        background-color: rgb(180, 138, 220);
        width: 100%;
        text-align: center;
    }

    .individual {
        flex-direction: column;
    }

    .individual-shop {
        width: 50vw;
        height: 50vh;
        margin-top: 10vw;
    }


    .individual-shop h3 {
        font-size: 3rem;
        font-weight: bold;
    }

    .individual-shop .btn {
        margin-top: 0.5rem;
        padding: .3rem;
        font-weight: bold;
        font-size: 1.5rem;
    }


}

@media only screen and (max-width:899px) and (min-width:600px) {

    video {
        width: 65vw;
        height: 55vh;
        margin-top: -1.8vw;
    }

    .Work-flow {
        margin-top: 1rem;

    }


    .shops h2 {
        font-size: 2rem;
        background-color: rgb(180, 138, 220);
        width: 100%;
        text-align: center;
    }

    .individual {
        flex-direction: column;
    }

    .individual-shop {
        width: 60vw;
        height: 60vh;
        margin-top: 7vw;
    }


    .individual-shop h3 {
        font-size: 1.5rem;
    }

    .individual-shop .btn {
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }

}