.appointment-canvas {
      width: 100vw;
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: center;
}

.appointment-canvas-tittle{
      width: 100%;
      padding-top: 15px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
.appointment-canvas-tittle-text{
      color: gray;
      border-bottom: 2px solid orange;
      padding: 4px;
      font-size: 2rem;
      width: fit-content;
}
.appointment-canvas-body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-bottom: 50px;
}


@media screen and (max-width:1000px) {
      .appointment-canvas-tittle-text{
            font-size: 1.7rem;
      }
      
}


@media screen and (max-width:700px) {
      .appointment-canvas-tittle-text{
            font-size: 1.5rem;
      }
      
}