.navbar {
  background-color: #628E90;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  padding: 1.5vh;
  margin-right: 5rem;
}
.menu li {
  margin-right: 1.5rem;
}
.menu a {
  text-decoration: none;
  color: bisque;
  padding: .3rem;
}
.logo {
  margin-left: 1rem;
  color: #fff;
}
.menu li a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: rgb(72, 24, 194);
  border-radius: .2rem;
}
