.otpverify_main{
      width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    gap: 30px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 30px;
}
.otpverify{
      font-size: 2rem;
      text-align: center;
}
#verify_input{
      width: 20vw;
      height: 5vh;
      border-radius: 1rem;
      text-align: center;
}
.submitotp{
      width: 10vw;
      height: 5vh;
      border: none;
      background-color: aqua;
}

.otpverify_main img{
      /* margin-left: 5rem;*/
      /* margin-top: 3rem;  */
      width: 17vw;
      height: 25vh;
      animation-name: rotate;
      animation-duration: 5s;
      animation-iteration-count:infinite;
      animation-timing-function: linear;
      border-radius: 1rem;
      animation-iteration-count: 2;
      box-shadow: 20px 20px 50px 10px pink inset;
      
  }
  
  @keyframes rotate{
  0%   {background-color: red;}
  50%  {background-color: yellow;}
  100%  {background-color: blue;}
  200% {background-color: green;}
}