.otpverify-canvas{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    gap: 30px;
    background-color: white;
   
}
.otpverify{
      font-size: 2rem;
      text-align: center;
}
#verify_input{
      width: 20vw;
      height: 5vh;
      border-radius: 1rem;
      text-align: center;
}
.submitotp{
      width: 5vw;
      height: 5vh;
      margin-top: 2rem;
      border: none;
      margin-left: 8rem;

      background-color: aqua;
}
.mail_button12{
      font-size: 1.3rem;
      text-align: center; 
      border-radius: .5rem;
      width: 10vw;
      /* margin-top: 2rem; */
}
#text_label{
      font-size: 1rem;
}

.otpverify_main img{
     
      width: 17vw;
      height: 25vh;
      animation-name: rotate;
      animation-duration: 5s;
      animation-iteration-count:infinite;
      animation-timing-function: linear;
      border-radius: 1rem;
      animation-iteration-count: 2;
      /* box-shadow: 20px 20px 50px 10px pink inset; */
      
  }
  
  @keyframes rotate{
  0%   {background-color: red;}
  50%  {background-color: yellow;}
  100%  {background-color: blue;}
  200% {background-color: green;}
}