.setPass-canvas{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 86vh;
    gap: 30px;
    background-color: white;
}
.setPass-left-sec{
    width: fit-content;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #20db93;
    font-weight: bold;
    font-size: 1.1rem;

}
.setPass-img{
    max-height: 100%;
    max-width: 100%;
    height: fit-content;
    width: auto;
}
.setPass-right-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}
.setPass-right-top{
   font-size: 4.5rem;
   font-weight: bolder;
   color: #be5cd6;
}
.setPass-right-middle{
    color: #8c71f3;
    font-size: 1.5rem;
    
}
.setPass-form{
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.setPass-field{
    width: 80%;
}
.setPass-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    width: fit-content;
   
    border-radius: 5px;
    margin-top: 25px;
}


@media only screen and (max-width:1270px) {
    .setPass-img{
        width:80vw;
    }
    
}


@media only screen and (max-width:1100px) {
    .setPass-img{
        width:80vw;
    }
    .setPass-right-top {
        font-size: 3.5rem;
    }
}


@media only screen and (max-width:900px) {
    .setPass-canvas{
        flex-direction: column;
        gap:50px;
        padding-bottom: 50px;
    }
    .setPass-left-sec{
        height: fit-content;
    }
}


@media only screen and (max-width:600px) {
  
    .setPass-right-top {
        font-size: 2.5rem;
    }
    .setPass-right-sec {
        gap:8px;
        padding: 20px 20px;
    }
    .setPass-form {
        gap: 14px;
    }
    .setPass-img{
        width:100vw;
    }
}


@media only screen and (max-width:600px) {
  
    .setPass-right-top {
        font-size: 2rem;
    }
    .setPass-right-middle {
        font-size: 1.3rem;
    }
}