.individual-shop{
    width: 310px;
    height: 320px;
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: 20px 20px 50px 15px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    margin: 1rem;

    /* flex-wrap: wrap; */

}

/* 
.shop_details{
width: 90%;
height: 70%;
padding:10px;
background-color: aqua;
}  */

 
.individual-shop .shop_na{
    text-align: center;
    color: black;

}
.individual-shop .btn{
    margin-top: .3rem;
    font-weight: bold;
    font-size: 1.1rem;

}
.individual-shop .btn:hover{
    background-color: #5F9DF7;

}
