.individual-shop {
    width: 310px;
    height: 320px;
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: 20px 20px 20px 15px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    margin: 1rem;
    flex-wrap: wrap;
}
.shop_details {
    width: 250px;
    height: 230px;
}
.shop_img {
    max-width: 100%;
    max-height: 100%;
}
.xyz {
    height: 400px;
    width: 230px;
}
.shop_details1 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-image: linear-gradient(rgb(85 203 255), rgb(138 255 223), rgb(153 251 255));
}
.individual-shop .shop_na {
    text-align: center;
    color: black;
}
.btn_home {
    font-size: 1.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
    margin-top: 1.48rem;
    height: auto;
    width: 124%;
    text-align: center;
    margin-left: -1.85rem;
    background-color: #8c8585;
}
.btn_home p:hover {
    background-color: #5F9DF7;
    border-radius: 0rem 0rem 1rem 1rem;


}