/* .shoplayout {
      display: flex;
      justify-content: space-around;
      height: auto;
      font-size: .5rem;
      color: black;
      
}
#dis {
      font-size: 1.5rem;
}
.shop_items{
      max-width: 30vw;
}
.shop1items {
      display: flex;
      justify-content: center; 
      justify-content: space-around;
        
} 
 .shop2items { 
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      justify-content: space-between;

}  */
/* .show_shops{
      height:400%;
      width: 100%;
      border: 3px solid black;
} */