.individual-shop {
    width: 310px;
    height: 320px;
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: 20px 20px 50px 15px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    margin: 1rem;
    flex-wrap: wrap;
}

.shop_details {
    width: 250px;
    height: 230px;
    }

    .shop_img{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .xyz{
        height: 400px;
        width: 230px;
    }
.shop_details1 {
    width: 100%;
    height:60%;
   
    border-radius: 1rem;
    background-image: linear-gradient(rgb(157, 157, 173), rgb(197, 94, 94), rgb(106, 106, 81), green);
}
.individual-shop .shop_na {
    text-align: center;
    color: black;
}
.individual-shop .btn {
 font-size: 1.1rem;
}
.individual-shop .btn:hover {
    background-color: #5F9DF7;
}