#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
    
    background-color: rgb(165, 97, 148);
    /* background-image: linear-gradient(yellow, white, green); */
}
::placeholder{
    color: black;
}
.shop-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 20px #ccc;
}
.shop-details .owner-detail{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop-details .owner-detail .owner-name{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(167, 167, 47); */
    margin-top: 1rem;
}
.shop-details .owner-detail .rating{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(167, 167, 47); */
    margin-top: 1rem;
}
.owner-detail .shop-timing{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 1.2rem;
}
.booking-details{
    margin-top: 1.5rem;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: white;
}
.booking-details .schudle-time {
  /* width: ; */
  flex-shrink: 1;
  
}


.schdule-form .check {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.booking-details .shop-services {
  flex-shrink: 1;
  width: 500px;
  justify-content: center;
  margin: auto;
  /* width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: chartreuse; */
}

.shop-services .select-services {
  width: 100%;
}
.shop-services .my-details {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-details .user-details {
  margin-bottom: 1rem;
}
.my-details .btn {
  width: 60%;
  padding: 0.3rem;
  border: 3px solid #497174;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 1.5s;
}
.my-details .btn:hover {
  background-color: #59c1bd;
}

.booking-details .schdule-time h3 {
  margin-top: 1rem;
}
#form-shop {
  margin-top: 2rem;
}
#form-shop .service input {
  outline: none;
  padding: 0.3rem;
  border: 3px solid #497174;
  border-radius: 1.5rem;
  /* width: 60%; */
}
#form-shop .service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mui-bttn{
  width: 100% !important;
}

.schedule-show-sec{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  height: auto;
  width: auto;
  max-width: 700px;
  padding: 10px;
  gap: 8px;
}
.schedule-sec-element{
  flex-shrink: 1;
  width: 160px;
  display: flex;
  margin: auto;
  border: 0.8px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 5px;
  color: #00000085;

}
.schedule-sec-element-booked{
  opacity: 0.5;
  flex-shrink: 1;
  width: 160px;
  display: flex;
  margin: auto;
  border: 0.8px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 5px;
  color: red;
}
.schedule-element-text{
  font-size: 0.88rem;
  font-weight: 600;
}


/* media queries */
@media screen and (max-width: 400px) {
  #header {
    margin: 0;
    padding: 2rem 0;
  }
  .shop-details .owner-detail {
    width: 100%;
  }

  .shop-details .owner-detail .owner-name {
    width: 94%;
    flex-direction: column;
    align-items: flex-start;
  }
  .shop-details .owner-detail .rating {
    width: 94%;
    flex-direction: column;
    align-items: flex-start;
  }
  .booking-details {
    flex-direction: column;
    align-items: center;
  }
  .booking-details .schdule-time {
    width: 94%;
  }
  .booking-details .shop-services {
    width: 94%;
  }
  .schdule-time h2 {
    text-align: center;
  }
}
