.allShops-canvas{
    width: 100vw;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.allshop_tittle{
font-size: 2rem;
font-family: 'Times New Roman', Times, serif;
margin-top: 1rem;
}

.allShops-list-sec{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 5px;
    gap: 10px;

}
.allShop-one-list{
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #000000d1;
    width: 100%;
    padding: 5px;
    display: flex;
    cursor: pointer;
    
}