#grid{
   
   
        /* height: 200px;
        width: 200px; */
        background-color: #d4e2e74d;
        /* background-image: conic-gradient(red, yellow, green, blue, black); */
        /* background-image: conic-gradient(blue, red, yellow, black, green); */
    }

.heading{
    text-align: center;
    margin-bottom: 30px;
}
::placeholder{
    color: rgb(14, 1, 1);
    opacity: 1;
}
.inputWrapper{
    width: 300px;
}
.inputWrapper input,.inputWrapper button{
    width: 100%;
    height: 45px;
    border:0;
    box-sizing: border-box;
}
.inputWrapper input{
    box-sizing: border-box;
    padding: 10px;
    background-color: transparent;
    color: rgb(9, 1, 1);
}

.inputWrapper button{
    margin-top: 15px;
    background: #090606;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    font-weight: bold;
    color: #e6f2e5;
    font-size: 16px;
    cursor: pointer;
}
.inputWrapper button:hover{
    background-color: #01070a;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    
}
.loginInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inputWrapper input:focus-visible{
    outline: 0px !important;
}
.inputWrapper .inputInner{
    display: flex;
    margin-bottom: 20px;    
    border:1px solid rgb(6, 1, 1);
    border-radius: 4px;
}
.inputWrapper .inputInner .icon{
    display: flex;
    height: 45px;
    align-items: center;
    margin: 0px 10px;
}
.forgot_sign{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-weight: bold;
}
.forgot_sign p a{
    text-decoration: none;
    color: rgb(157, 35, 141);
}
.icon{
    text-align: center;
    width: 20px;
}
#error_msg_sign{
    margin-top: -1rem; 
    font-size: .8rem;
    color: red;
}
.forgot_sign{
margin: 2rem;

}

